services:
  pg_database:
    image: postgres:18 # Using version 18
    container_name: pg_database
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=ny_taxi
    volumes:
      # CHANGED: Mount to the parent directory, NOT /data
      - ny_taxi_postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    networks:
      - pg_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=root
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    ports:
      - "8085:80"
    networks:
      - pg_network
    depends_on:
      - pg_database

volumes:
  ny_taxi_postgres_data:
  pgadmin_data:

networks:
  pg_network:
    driver: bridge
